@import url("https://fonts.googleapis.com/css2?family=Comforter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

* {
  box-sizing: border-box;
}

body,
h1,
h2,
p {
  margin: 0;
  background-color: #1a5b35;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.winter__content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.winter__title {
  font-family: "Comforter";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 115px;
  color: #d6bd84;
  display: flex;
  justify-content: center;
  align-items: center;
}

.winter__info {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  width: 662px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.winter__subinfo {
  margin-top: 10px;
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.img__three {
  position: relative;
  bottom: -410px;
  left: 170px;
}
.img__four {
  position: relative;
  bottom: -425px;
  left: 0%;
}

.two {
  margin: 11px;
}

.img__one {
  position: absolute;
  left: 0;
  top: 3%;
}
.img__two {
  position: absolute;
  top: 0%;
  right: 0%;
}

.img__five {
  position: absolute;
  left: 0%;
  bottom: 11%;
}
.img__six {
  position: absolute;
  left: 0%;
  bottom: 0%;
}

.wrapper {
  position: absolute;
  top: 15%;
}
@media print {
  svg {
    display: none;
  }
  .winter__content {
    background-color: #ffffff;
    /* color: #000; */
  }
  body {
    /* color: #000; */
  }
  .winter__title {
    /* color: #000; */
  }
  .winter__info {
    /* color: #000; */
  }
  .winter__subinfo {
    /* color: #000; */
  }
  h1 {
    color: #000;
  }
  p {
    color: #000;
  }
}

@media screen and (min-width: 2559px) {
  .img__three {
    bottom: -480px;
    left: 160px;
  }
  .img__four {
    bottom: -800px;
  }
}

@media screen and (max-width: 576px) {
  .winter__content {
    height: 813px;
  }
  .two {
    padding-bottom: 150px;
  }
  .img__one {
    left: 0%;
    top: 0%;
  }
  .winter__info {
    width: 328px;
  }
  .winter__title {
    margin-top: 56px;
  }
  .img__two {
    display: none;
  }
  .img__five {
    left: 85%;
    top: 7%;
  }
  .img__three {
    bottom: 15%;
    left: 70%;
  }
  .img__six {
    display: none;
  }
  .img__four {
    bottom: 3%;
    left: 40%;
  }
}

@media screen and (max-width: 425px) {
  .img__one {
    top: -5%;
  }
  .img__three {
    bottom: -47%;
    left: 38%;
  }
  .img__four {
    left: 0%;
    bottom: -55%;
  }
}
@media screen and (max-width: 375px) {
  .wrapper {
    left: 7%;
  }
  .img__one {
    top: -7%;
  }
  .img__three {
    left: 39%;
    bottom: -45%;
  }
  .img__four {
    left: 2%;
  }
  .img__five {
    left: 81%;
  }
  .winter__title {
    margin-top: 40px;
  }
}
@media screen and (max-width: 320px) {
  .wrapper {
    left: 2%;
  }
  .img__one {
    top: -19%;
    /* display: none; */
  }
  .img__three {
    left: 73%;
    display: none;
  }
  .img__four {
    left: 0%;
  }
  .img__five {
    top: 10%;
    left: 80%;
    /* display: none; */
  }
  .winter__title {
    margin-top: 40px;
  }
  .winter__info {
    width: 300px;
  }
  .winter__content {
    height: 865px;
  }
}
